<div class="contact-close mt-4">
  <%= link_to root_path do %>
    <p><i class="fa-solid fa-circle-xmark"></i></p>
  </div>
<% end %>

<div class="new-contact-block d-flex align-items-center flex-column">

  <div class="new-contact-header d-flex flex-column">

    <div class="header-header d-flex justify-content-center align-items-center">
      <h3>Let's talk about your</h3>
      <h3 id="highlight"><strong>project</strong></h3>
    </div>

    <div class="header-body d-flex justify-content-center">
      <p>You have an idea but you don't know how to make it real? Tell me more here and I will help you!</p>
    </div>

  </div>

  <div class="new-contact-body">
    <%= simple_form_for(@contact) do |f| %>
      <%= f.input :name, label: false, placeholder: "Tony Blair" %>
      <%= f.input :email, label: false, placeholder: "example@gmail.com" %>
      <%= f.input :phone_number, label: false, placeholder: "+33123456789" %>
      <%= f.input :brand, label: false, placeholder: "Tommy Hilfiger" %>
      <%= f.input :website, label: false, placeholder: "www.google.com" %>
      <%= f.input :product, as: :radio_buttons, collection: Contact::PRODUCT %>
      <%= f.input :description, label: false, as: :text, placeholder: "Description" %>
      <%= f.input :known, as: :radio_buttons, label: false, collection: Contact::SOCIAL %>
      <%= f.submit "Send" %>
    <% end %>
  </div>

  <div class="new-contact-footer">
  </div>


</div>
